In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('events.csv', low_memory = False)

In [3]:
df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-31 23:38:05,ad campaign hit,0004b0a2,/comprar/iphone/iphone-5s,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-31 23:38:05,visited site,0004b0a2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Paid,New,Camaragibe,Pernambuco,Brazil,Smartphone,360x640,Android 6,Chrome Mobile 39
2,2018-05-31 23:38:09,viewed product,0004b0a2,NaN,2694.0,iPhone 5s,Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-31 23:38:40,checkout,0004b0a2,NaN,2694.0,iPhone 5s,Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-29 13:29:25,viewed product,0006a21a,NaN,15338.0,Samsung Galaxy S8,Bom,64GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Imprimo el uso inicial de memoria y los tipos de las columnas

In [4]:
df.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011288 entries, 0 to 1011287
Data columns (total 23 columns):
timestamp                   1011288 non-null object
event                       1011288 non-null object
person                      1011288 non-null object
url                         82756 non-null object
sku                         563838 non-null object
model                       564284 non-null object
condition                   563836 non-null object
storage                     563836 non-null object
color                       563836 non-null object
skus                        221699 non-null object
search_term                 48967 non-null object
staticpage                  3598 non-null object
campaign_source             82796 non-null object
search_engine               50957 non-null object
channel                     87378 non-null object
new_vs_returning            87378 non-null object
city                        87378 non-null object
region                      87378 non-null object
country                     87378 non-null object
device_type                 87378 non-null object
screen_resolution           87378 non-null object
operating_system_version    87378 non-null object
browser_version             87378 non-null object
dtypes: object(23)
memory usage: 879.5 MB

### Veo a que columnas les puedo cambiar el tipo

In [5]:
df.describe()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
count,1011288,1011288,1011288,82756,563838,564284,563836,563836,563836,221699,...,50957,87378,87378,87378,87378,87378,87378,87378,87378,87378
unique,793805,11,27624,227,3574,202,5,8,63,35310,...,4,7,2,1939,93,46,4,282,121,343
top,2018-05-15 15:56:06,viewed product,71492f2b,/,2830.0,iPhone 6,Bom,16GB,Preto,"2820,6706,6720,2750,6649,7251,6663,12604,7224,...",...,Google,Paid,Returning,Unknown,Sao Paulo,Brazil,Smartphone,360x640,Windows 7,Chrome 66.0
freq,11,528931,2771,28323,4282,50916,243014,190833,132960,594,...,50240,44193,60480,15819,24996,84308,44239,30009,19675,22611

### Cambio el tipo de 'person' a uint32 y 'timestamp' a datetime64

In [6]:
df['person'] = df['person'].apply(lambda x: int(x, 16)).astype('uint32')
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [7]:
df['search_term'] = df['search_term'].str.lower()

### Convierto a categorías el resto de las columnas

In [8]:
for col in df.columns:
    num_unique_values = len(df[col].unique())
    num_total_values = len(df[col])
    if df[col].dtype == np.object and num_unique_values * 1.0 / num_total_values < 0.5:
        df[col] = df[col].astype('category')

### Imprimo el uso de memoria resultante

In [9]:
df.info (memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011288 entries, 0 to 1011287
Data columns (total 23 columns):
timestamp                   1011288 non-null datetime64[ns]
event                       1011288 non-null category
person                      1011288 non-null uint32
url                         82756 non-null category
sku                         563838 non-null category
model                       564284 non-null category
condition                   563836 non-null category
storage                     563836 non-null category
color                       563836 non-null category
skus                        221699 non-null category
search_term                 48967 non-null category
staticpage                  3598 non-null category
campaign_source             82796 non-null category
search_engine               50957 non-null category
channel                     87378 non-null category
new_vs_returning            87378 non-null category
city                        87378 non-null category
region                      87378 non-null category
country                     87378 non-null category
device_type                 87378 non-null category
screen_resolution           87378 non-null category
operating_system_version    87378 non-null category
browser_version             87378 non-null category
dtypes: category(21), datetime64[ns](1), uint32(1)
memory usage: 46.9 MB

In [10]:
df['search_term'].cat.categories

Index([u'"galaxy tab e 9.6 wi-fi"', u'"samsung galaxy j1"', u'#2793522',
       u',moto z.', u'.', u'. galaxy j7 prime', u'1 carregador alternativo',
       u'100', u'1020', u'128',
       ...
       u'~s8', u'Ásia', u'Ásia zenfone 4', u'Ásus zenfone 5',
       u'Ásus zenfone 5z', u'Ícone', u'Ícone 5', u'Ícone 7', u'Ífone 5',
       u'ĺpl7u(não   wqenhghiulsaq'],
      dtype='object', length=4293)

In [11]:
busquedas = pd.DataFrame({'cantidad':df['search_term'].dropna().value_counts()})
busquedas['palabras'] = busquedas.index.astype(str)
busquedas = busquedas.reset_index(drop=True)
print(busquedas)

      cantidad                  palabras
0         3347                  iphone 6
1         2968                    iphone
2         2576                 iphone 6s
3         1354                  iphone 7
4         1101                 iphone 5s
5          950                        j7
6          852                  motorola
7          850                        j5
8          763                        s7
9          756             iphone 6 plus
10         700                        s8
11         661                 iphone se
12         595                   samsung
13         592            iphone 6s plus
14         577                  iphone 5
15         528             iphone 7 plus
16         480                        s6
17         436                  j7 prime
18         415                   moto g5
19         367                        lg
20         353                    moto g
21         328                   moto g4
22         327                   s7 edge
23         323                        a5
24         313                    moto z
25         304                  iphone 8
26         301                        j2
27         299                 iphone 5c
28         279                        6s
29         276                        s5
...        ...                       ...
4263         1              lg k10 pawer
4264         1              lg k10 parar
4265         1                lg k10 lte
4266         1             lg k10 branco
4267         1                lg k10  tv
4268         1                    lg k 4
4269         1               lg k 10 pro
4270         1                    lg joy
4271         1                     lg l3
4272         1            lg lanterninha
4273         1                   lg leon
4274         1                  lg nexus
4275         1                     lgk1o
4276         1                       lg4
4277         1                       lg2
4278         1                  lg xscam
4279         1                lg x style
4280         1               lg x screen
4281         1                lg w power
4282         1                   lg volt
4283         1                    lg v20
4284         1                lg teclado
4285         1         lg t31 qua tab px
4286         1                lg samsung
4287         1                    lg q10
4288         1             lg prime plus
4289         1             lg prime h522
4290         1                  lg power
4291         1             lg para games
4292         1  "galaxy tab e 9.6 wi-fi"

[4293 rows x 2 columns]

In [12]:
busquedas.info (memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4293 entries, 0 to 4292
Data columns (total 2 columns):
cantidad    4293 non-null int64
palabras    4293 non-null object
dtypes: int64(1), object(1)
memory usage: 280.6 KB

In [13]:
busquedas.count()

cantidad    4293
palabras    4293
dtype: int64

In [14]:
rows = []
for i, row in busquedas.iterrows():
    for a in row['palabras'].split():
        rows.append([row['cantidad'], a])

terminos = pd.DataFrame(rows, columns=busquedas.columns)
print(terminos)

       cantidad  palabras
0          3347    iphone
1          3347         6
2          2968    iphone
3          2576    iphone
4          2576        6s
5          1354    iphone
6          1354         7
7          1101    iphone
8          1101        5s
9           950        j7
10          852  motorola
11          850        j5
12          763        s7
13          756    iphone
14          756         6
15          756      plus
16          700        s8
17          661    iphone
18          661        se
19          595   samsung
20          592    iphone
21          592        6s
22          592      plus
23          577    iphone
24          577         5
25          528    iphone
26          528         7
27          528      plus
28          480        s6
29          436        j7
...         ...       ...
12166         1      volt
12167         1        lg
12168         1       v20
12169         1        lg
12170         1   teclado
12171         1        lg
12172         1       t31
12173         1       qua
12174         1       tab
12175         1        px
12176         1        lg
12177         1   samsung
12178         1        lg
12179         1       q10
12180         1        lg
12181         1     prime
12182         1      plus
12183         1        lg
12184         1     prime
12185         1      h522
12186         1        lg
12187         1     power
12188         1        lg
12189         1      para
12190         1     games
12191         1   "galaxy
12192         1       tab
12193         1         e
12194         1       9.6
12195         1    wi-fi"

[12196 rows x 2 columns]

In [18]:
from difflib import SequenceMatcher as sm

def reemplazar(palabra, cantidad, marcas, reemplazadas):
    reemplazo = None
    ratio_reemplazo = 0
    for key, value in marcas.items():
        r = sm(None, palabra, key).ratio()
        if r > marcas[key] and r > ratio_reemplazo:
            reemplazo = key
            ratio_reemplazo = r
    if reemplazo != None and ratio_reemplazo < 1.0:
        #print('%s : %s = %f' %(reemplazo, palabra, ratio_reemplazo))
        reemplazadas['reemplazadas'][reemplazo].append(palabra)
        return pd.Series([reemplazo, cantidad], index=['palabras','cantidad'])
    else:
        return pd.Series([palabra, cantidad], index=['palabras','cantidad'])

def normalizar (marcas):
    reemplazadas = pd.DataFrame(marcas,columns=['marca'])
    reemplazadas['reemplazadas'] = np.empty((len(reemplazadas), 0)).tolist();
    reemplazadas = reemplazadas.set_index('marca',drop=True)

    marcas = dict.fromkeys(marcas,0.7)
    marcas['lenovo'] = 0.8

    tmp = terminos.apply(lambda x: reemplazar(x['palabras'], x['cantidad'], marcas, reemplazadas), axis=1)
    reemplazadas['cantidad'] = reemplazadas['reemplazadas'].apply(lambda x: len(x))
    print(reemplazadas)
    return tmp

normalizado = normalizar(['asus', 'blackberry', 'lg', 'lenovo', 'motorola', 'quantum', 'samsung', 'sony', 'ipad', 'iphone'])

                                                 reemplazadas  cantidad
marca
asus        [azus, assus, azus, azus, asu8s, 3asus, asus45...        15
blackberry                             [blacberry, blakbelry]         2
lg                                            [lgk, lg4, lg2]         3
lenovo                               [lenovos, leovo, l3novo]         3
motorola    [motoriza, motorolla, morola, motor, motolora,...        20
quantum                           [quantun, quantos, quentum]         3
samsung     [sansung, sansung, saumsung, sansung, sansung,...       212
sony           [sonny, soni, soni, sonyt2, sono, sonuy, sono]         7
ipad                           [ipod, ipad7, iped, pad, ipod]         5
iphone      [iphone6, phone, iphones, iphone6s, iphone7, i...       168

In [16]:
normalizado = normalizado.groupby(['palabras']).sum()
normalizado = normalizado.sort_values(by=['cantidad'],ascending=False)
normalizado = normalizado.reset_index(drop=False)
print(normalizado)

          palabras  cantidad
0           iphone     18861
1                6      5111
2          samsung      4598
3             moto      4492
4               6s      4025
5             plus      3801
6           galaxy      3565
7               j7      2817
8                7      2336
9               j5      2045
10              s7      1982
11           prime      1761
12              5s      1523
13        motorola      1390
14              s8      1361
15              s6      1330
16               5      1200
17              lg      1165
18            edge      1042
19               g       840
20              g4       814
21              g5       801
22              se       778
23             pro       759
24              s5       751
25              a5       750
26         celular       711
27            note       688
28              j2       651
29            32gb       592
...            ...       ...
1594         plkus         1
1595           pls         1
1596      completa         1
1597         pluas         1
1598          plue         1
1599         pluis         1
1600          plul         1
1601         pixil         1
1602          pixi         1
1603         paimi         1
1604          pemi         1
1605      detalhes         1
1606    paperwhite         1
1607     descrição         1
1608        parato         1
1609       desbloq         1
1610         pawer         1
1611        pedido         1
1612       pedidos         1
1613       perdida         1
1614       células         1
1615   pernabucana         1
1616  pernambucada         1
1617       defeito         1
1618           pet         1
1619           das         1
1620         d855p         1
1621       phineas         1
1622        código         1
1623           j27         1

[1624 rows x 2 columns]

In [17]:
for cat in df['model'].dropna().cat.categories:
    print('model: %s'%(cat))

model: Asus Live
model: Asus Zenfone 2
model: Asus Zenfone 2 Deluxe
model: Asus Zenfone 2 Laser
model: Asus Zenfone 3 Max  32 GB
model: Asus Zenfone 3 Max 16 GB
model: Asus Zenfone 3 Zoom
model: Asus Zenfone 5
model: Asus Zenfone 6
model: Asus Zenfone Go
model: Asus Zenfone Selfie
model: Blackberry Blackberry Z30
model: LG  X Screen
model: LG G3 Beat D724
model: LG G3 D855
model: LG G3 Stylus D690
model: LG G4 Beat H736
model: LG G4 H815P
model: LG G4 H818P
model: LG G4 Stylus H630
model: LG G4 Stylus HDTV H540T
model: LG G5 SE
model: LG G6
model: LG K10
model: LG K10 Novo
model: LG K10 TV
model: LG K4
model: LG K8
model: LG L Prime D337
model: LG L80 Dual
model: LG Nexus 5 D821
model: LG Prime Plus H522
model: LG X Power
model: Lenovo Vibe A7010 Dual Chip
model: Lenovo Vibe K5
model: Motorola Moto E2 3G Dual
model: Motorola Moto E2 4G Dual
model: Motorola Moto E2 DTV
model: Motorola Moto G1 3G
model: Motorola Moto G1 4G
model: Motorola Moto G2 3G Dual
model: Motorola Moto G2 4G Dual
model: Motorola Moto G3 4G
model: Motorola Moto G3 HDTV
model: Motorola Moto G4 DTV
model: Motorola Moto G4 Play
model: Motorola Moto G4 Play DTV
model: Motorola Moto G4 Plus
model: Motorola Moto G5
model: Motorola Moto G5 Plus
model: Motorola Moto G5S
model: Motorola Moto G5S Plus
model: Motorola Moto MAXX
model: Motorola Moto X Force
model: Motorola Moto X Play 4G Dual
model: Motorola Moto X Style
model: Motorola Moto X1
model: Motorola Moto X2
model: Motorola Moto Z
model: Motorola Moto Z Play
model: Motorola Moto Z Power Edition
model: Motorola Moto Z2 Force
model: Motorola Moto Z2 Play
model: Motorola RAZR I
model: Quantum GO 3G
model: Quantum GO 4G
model: Quantum Muv
model: Quantum Muv Pro
model: Quantum Muv Up
model: Quantum YOU
model: Samsung Galaxy A3 2016
model: Samsung Galaxy A3 Duos
model: Samsung Galaxy A5
model: Samsung Galaxy A5 2016
model: Samsung Galaxy A5 2017
model: Samsung Galaxy A7
model: Samsung Galaxy A7 2016
model: Samsung Galaxy A7 2017
model: Samsung Galaxy A9 Pro 2016
model: Samsung Galaxy Core 2 Duos
model: Samsung Galaxy Core Plus Duos TV
model: Samsung Galaxy E5 4G Duos
model: Samsung Galaxy E7
model: Samsung Galaxy Gran 2 Duos TV
model: Samsung Galaxy Gran Neo Duos
model: Samsung Galaxy Gran Neo Plus Duos
model: Samsung Galaxy Gran Prime 3G Duos
model: Samsung Galaxy Gran Prime Duos
model: Samsung Galaxy Gran Prime Duos TV
model: Samsung Galaxy Grand Duos i9082
model: Samsung Galaxy J1 2016
model: Samsung Galaxy J1 Mini
model: Samsung Galaxy J2 4G Duos
model: Samsung Galaxy J2 4G Duos TV
model: Samsung Galaxy J2 Prime TV
model: Samsung Galaxy J3
model: Samsung Galaxy J5
model: Samsung Galaxy J5 2016 Metal
model: Samsung Galaxy J5 PRO
model: Samsung Galaxy J5 Prime
model: Samsung Galaxy J7
model: Samsung Galaxy J7 2016 Metal
model: Samsung Galaxy J7 Neo
model: Samsung Galaxy J7 PRO
model: Samsung Galaxy J7 Prime
model: Samsung Galaxy Mega Duos
model: Samsung Galaxy Note 2 N7100
model: Samsung Galaxy Note 3
model: Samsung Galaxy Note 3 Neo Duos
model: Samsung Galaxy Note 4
model: Samsung Galaxy Note 5
model: Samsung Galaxy Note 8
model: Samsung Galaxy Note Edge
model: Samsung Galaxy On 7
model: Samsung Galaxy S3 Duos
model: Samsung Galaxy S3 Mini
model: Samsung Galaxy S3 Neo Duos i9300i
model: Samsung Galaxy S3 Slim Duos
model: Samsung Galaxy S3 i9300
model: Samsung Galaxy S4 Mini
model: Samsung Galaxy S4 Mini Duos
model: Samsung Galaxy S4 i9500
model: Samsung Galaxy S4 i9505
model: Samsung Galaxy S4 i9515
model: Samsung Galaxy S5
model: Samsung Galaxy S5 Duos
model: Samsung Galaxy S5 Mini
model: Samsung Galaxy S5 Mini Duos
model: Samsung Galaxy S5 New Edition
model: Samsung Galaxy S5 New Edition Duos
model: Samsung Galaxy S6 Edge
model: Samsung Galaxy S6 Edge Plus
model: Samsung Galaxy S6 Flat
model: Samsung Galaxy S7
model: Samsung Galaxy S7 Edge
model: Samsung Galaxy S8
model: Samsung Galaxy S8 Plus
model: Samsung Galaxy Tab 3 10.1 Wi-Fi + 3G
model: Samsung Galaxy Tab 4  10.1 Wi-Fi + 3G
model: Samsung Galaxy Tab A 2016 10.1  W-Fi + 4G
model: Samsung Galaxy Tab A com S Pen 8 Wi-Fi + 4G
model: Samsung Galaxy Tab E 7 Wi-Fi
model: Samsung Galaxy Tab E 7 Wi-Fi + 3G
model: Samsung Galaxy Tab E 9.6 Wi-Fi
model: Samsung Galaxy Tab E 9.6 Wi-Fi + 3G
model: Samsung Galaxy Tab Pro 10.1 Wi-Fi
model: Samsung Galaxy Tab S 10.5 Wi-Fi
model: Samsung Galaxy Tab S 10.5 Wi-Fi + 4G
model: Samsung Galaxy Tab S 8.4 Wi-Fi + 4G
model: Samsung Galaxy Tab S2 8 Wi-Fi + 4G
model: Samsung Galaxy Tab S2 9.7 Wi-Fi + 4G
model: Samsung Galaxy Win 2 Duos TV
model: Samsung Galaxy Win Duos
model: Samsung Galaxy Y Duos
model: Samsung Galaxy Young 2 Duos TV
model: Samsung Gear Fit 2 Grande
model: Samsung Gear Fit 2 Pequeno
model: Samsung Gear S2
model: Samsung Gear S3 Classic
model: Samsung Gear S3 Frontier
model: Sony Xperia M4 Aqua
model: Sony Xperia M4 Aqua Dual
model: Sony Xperia Z2
model: Sony Xperia Z3
model: Sony Xperia Z3 Compact
model: Sony Xperia Z3 Dual
model: Sony Xperia Z3 Plus
model: Sony Xperia Z3 TV
model: Sony Xperia Z5
model: Sony Xperia Z5 Premium
model: iPad 2 Wi-Fi
model: iPad 2 Wi-Fi + 3G
model: iPad 3 Wi-Fi
model: iPad 3 Wi-Fi + 4G
model: iPad 4 Wi-Fi
model: iPad 4 Wi-Fi + 4G
model: iPad Air 2 Wi-Fi
model: iPad Air 2 Wi-Fi + 4G
model: iPad Air Wi-Fi
model: iPad Air Wi-Fi + 4G
model: iPad Mini 2 Wi-Fi
model: iPad Mini 2 Wi-Fi + 4G
model: iPad Mini 3 Wi-Fi
model: iPad Mini 3 Wi-Fi + 4G
model: iPad Mini 4 Wi-Fi
model: iPad Mini Wi-Fi
model: iPad Mini Wi-Fi + 4G
model: iPhone 4G
model: iPhone 4S
model: iPhone 5
model: iPhone 5c
model: iPhone 5s
model: iPhone 6
model: iPhone 6 Plus
model: iPhone 6S
model: iPhone 6S Plus
model: iPhone 7
model: iPhone 7 Plus
model: iPhone 8
model: iPhone 8 Plus
model: iPhone SE
model: iPhone X